#footer {
    background: transparent;
}

html[data-theme="light"] #footer .copyright,
html[data-theme="light"] #footer a.footer_custom_text {
  color: #000000 !important;
}
html[data-theme="dark"] #footer .copyright,
html[data-theme="dark"] #footer a.footer_custom_text {
  color: #ffffff !important;
}